html {
    width:100vw;
    height:100vh;
}

.folder-page-container {
    display: flex;
    flex-direction: row;
    background: url('../../../public/folder_background_img.png');
    background-size: 100%;
    background-attachment: fixed;
    width:100vw;
    height:100vh;
    position: sticky;
    top: 0;
}

.left-nav-bar {
    margin: 4vh 3vw;
    border-right: 2px black solid;
    padding-right: 3vw;
    position: sticky;
    top: 0;
}